@import '../core/colours.scss';

// height: 56
// ->  8+40+ 8
// -> 10+36+10
// -> 12+32+12
// -> 16+24+16
/**
 * Header
**/
tools-header {

  font-family: Roboto, Verdana;
//  font-size: 24px;
  line-height: 40px;
  background-color: $cgx-light-grey;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);

  header-group {
    display: inline-block;
//    padding: 0;
    //display: flex;
    //align-items: center;
    //border: 1px dotted #eee;

    margin: 8px 16px;   //56-8-8 = 40
    line-height: 40px;
    height: 40px;

    overflow: hidden;

    > :not(:last-child) {
      min-width: 40px;
      margin-right: 8px;
    }
  }

  header-item {
    display: inline-block;
    float: left;

    height: 40px;
    line-height: 24px;

    text-align: left;

    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
  }

  header-sep {
    @extend header-item;

    min-width: 0px !important;
    width: 0px;

    margin-left: 0px;
    margin-right: 20px !important;

    border-right: 1px solid #999;
  }

  header-logo {
    @extend header-item;
    height: 40px;
    min-width: 0px !important;
    margin-right: 24px !important;
    padding: 8px 8px;   //40-8-8 = 24
    cursor: pointer;

    img {
      height: 24px;
      vertical-align: inherit;
    }
  }

  header-title {
    @extend header-item;

    border-left: 1px solid #999;
//    width: 40%;
    max-width: 60%;
    padding: 8px 16px;
    font-size: 20px;
  }

  header-button {
    // 56-16-5=
    @extend header-item;

    text-align: center;

    padding: 0;
    border: 0;

    a {
      display: inline-block;
      height: 40px;
      padding: 8px 8px;
      color: $app-bar-link-color;
      text-decoration: none;

      i {
        display: inline-block;
        height: 24px;
      }

      i:hover {
        transition: all .2s ease-in-out;
        transform: scale(1.25);
      }
    }

    .sub-menu {
      display: none;
    }

    &:hover > .sub-menu {
      display: block;
    }
  }
}

tools-footer {
  display: block;

  position: fixed;
  width: 100%;
  height: auto;
  bottom: 0;
  z-index: 22;

  background-color: #f9fafc;
  box-shadow: 0px -2px 8px rgba(0,0,0,0.1);

  footer-mini {
    display: inline-block;
    height: 45px;
//    border-top: 1px solid #d6d5e5;

    padding: 10px 24px;
  }

  footer-group {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    //border: 1px solid #0C0;
    //height: 39px;
  }
}
