@import "../core/layout";
@import "../core/colours";
@import "../core/mixins";

#header {
  display: block;

  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: $app-bar-height;

  z-index: 22;
}

#main-container {
  display: block;

  position: absolute;

  top: $app-bar-height;
  left: 0;
  bottom: 0;
  right: 0;

  overflow: hidden;
}

#workspace {
  display: block;

  position: absolute;
  top: 0px;
  left: $palette-width;
  bottom: 0px;
  right: $sidebar-width;

  overflow: hidden;

  @include component-border;
  transition: left 0.2s ease-in-out;
}

#palette {
  display: block;

  position: absolute;
  top: 0px;
  left:0px;
  bottom: 0px;
  width: $palette-width;

  background: $background-color;

  @include disable-selection;
  @include component-border;

  transition: width 0.2s ease-in-out;
}

#palette-shade,
#editor-shade,
#header-shade,
#sidebar-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(200, 200, 200, 0.5);
  z-index: 2;
}

#sidebar {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: $sidebar-width - 7px;
  background: $background-color;
  box-sizing: border-box;
  z-index: 10;
  border: 1px solid #bbb;
  box-sizing: border-box;
}

#sidebar-separator {
  position: absolute;
  top: 5px;
  right: 315px;
  bottom: 10px;
  width: 7px;
  z-index: 11;
  //background: #f3f3f3 url(images/grip.png) no-repeat 50% 50%;
  cursor: col-resize;
}
