/**
 * Palette
**/
@import "../core/layout";
@import "../core/colours";
@import "../core/mixins";

.red-ui-searchBox-container {
  position: relative; }
  .red-ui-searchBox-container i {
    font-size: 10px;
    color: #666; }
  .red-ui-searchBox-container i.fa-search {
    position: absolute;
    pointer-events: none;
    left: 8px;
    top: 9px; }
  .red-ui-searchBox-container i.fa-times {
    position: absolute;
    right: 5px;
    top: 9px; }
  .red-ui-searchBox-container input {
    border-radius: 0;
    border: none;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 3px 17px 3px 22px;
    margin: 0px;
    height: 30px;
    box-sizing: border-box;
    }
    .red-ui-searchBox-container input:focus {
      border: none;
      box-shadow: none;
      -webkit-box-shadow: none; }
  .red-ui-searchBox-container a {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20px;
    display: none; }
  .red-ui-searchBox-container .red-ui-searchBox-resultCount {
    position: absolute;
    right: 18px;
    top: 4px;
    background: #eee;
    color: #666;
    padding: 1px 8px;
    font-size: 9px;
    border-radius: 4px; }


.palette-expanded {
    & #palette {
        width: 380px;
        box-shadow: 1px 0 6px rgba(0,0,0,0.1);
    }
    & #workspace { left: 379px !important; }
    & #palette-collapse-all { display: none; }
    & #palette-expand-all { display: none; }
    & #palette-container { display: none !important; }
    & #palette-search { display: none !important; }
    & #palette-edit { background: $workspace-button-background-active }
    & #palette-editor { display: block !important }
}

#palette > .palette-spinner {
    padding-top: 80px;
}
.palette-search {
  position: absolute;
  width: 100%;
  overflow: hidden;
  background: #ffffff;
  text-align: center;
  height: $workspace-header-height;
  padding: 3px;
  border-bottom: 1px solid $primary-border-color;
  box-sizing:border-box;
}

#palette-container {
  position: absolute;

//  top: $workspace-header-height;
  top: 0;
  left: 0;
  bottom: 25px;
  right: 0;

  padding: 0;

  box-sizing:border-box;
}

.palette-scroll {
  overflow-y: auto;
}

#palette-footer {
    @include component-footer;
}
.palette-button {
    @include component-footer-button;
}

.category-list li a {
    border-bottom: 1px solid #e6ebee;
    color: #37474f;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    padding: 8px 15px 8px 15px;
    position: relative;
}

.palette-header {
  position: relative;
  background: $palette-header-background;
  cursor: pointer;
  text-align: left;
  padding: 9px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  i {
    margin: 3px 10px 3px 3px;
    transition: all 0.2s ease-in-out;
    transform: rotate(-90deg);
  }

  i.expanded {
    transform: rotate(0deg);
  }

  span {
    clear: both;
  }
}

.palette-category {
  border-bottom: 1px solid #ccc;

  .truncate {
      max-width: 180px;
      width: 180px;
  }
}


.palette-content {
  background: #fff;
  padding: 3px;
  margin: 0px;
}

.palette_label {
  list-style-type: none;

  font-size: 13px;
  margin: 4px 0 4px 32px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;

  @include disable-selection;
}

.palette_label_right {
  margin: 4px 32px 4px 0;
}

/*.palette_node {
  display: block;
  cursor:move;
  background: #ddd;
  margin: 10px auto;
  height: 25px;
  //border-radius: 5px;
  border: 1px solid #999;
  background-position: 5% 50%;
  background-repeat: no-repeat;
  //width: 120px;
  background-size: contain;
  position: relative;
}

.palette_node:hover {
    border-color: $node-selected-color;
    background-color: #eee;
}
.palette_port {
    position: absolute;
    top:8px;
    left: -5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background:#d9d9d9;
    border-radius: 3px;
    width: 10px;
    height: 10px;
    border: 1px solid #999;
}
.palette_port_output {
    left:auto;
    right: -6px;
}

.palette_node:hover .palette_port {
    border-color: #999;
    background-color: #eee;
}
.palette_icon_container {
    position: absolute;
    text-align: center;
    top:0;
    bottom:0;
    left:0;
    width: 30px;
    border-right: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.05);
}
.palette_icon_container_right {
    left: auto;
    right: 0;
    border-right: none;
    border-left: 1px solid rgba(0,0,0,0.1);
}
.palette_icon {
    display: inline-block;
    width: 20px;
    height: 100%;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.palette_node_small {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 15px;
    margin: 3px 0px;
    vertical-align: middle;
    cursor: default;

    .palette_icon_container {
        width: 18px;
        border-right: none;
    }
    .palette_icon {
        margin-left: -1px;
        width: 15px;
    }
}*/

svg:not(:root) {
    overflow: hidden;
}
.inline-block {
    display: inline-block !important;
    vertical-align: middle;
}
.mrm {
    margin-right: 10px;
}
.mtm {
    margin-top: 10px;
}

.palette-icon {
  display: inline-block !important;
  vertical-align: middle;
  border-radius: 4px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.15);
  display: inline-block;
  margin-right: 10px;
}

li.palette-node {
  list-style-type: none;
  display: block;

  span {
    display: inline-block !important;
    vertical-align: middle;
  }

  a {
    display: inline-block !important;
    vertical-align: middle;
    padding: 0;
    background: #fefefe;
    height: 45px;
  }

  .palette-node-name {
    display: inline-block !important;
    text-align: center;
    vertical-align: middle;
    width: 165px;
    line-height: 14px;
    font-size: 13px;
  }
}

.ui-draggable-dragging {

  &.palette-node {
    border: 1px solid;
    border-radius: 3px;
  }

  span svg { display: none; }
}

.icon-24 {
    height: 24px;
    width: 24px;
    background-size: 24px auto !important;
}
.right {
    float: right!important;
}
.ssh {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAAGXRFW…QAAUAAEAAEAAFAABAABAABQAAQAAQAAUAAEIAAqJm/AgwADV4uAOCKyWcAAAAASUVORK5CYII=) center center no-repeat;
    background-color: #3E3B60;
}

.nova-semibold {
    font-weight: 600;
}
